.home_container {
  position: relative;
  min-height: 100vh;
  padding: 50px 40px;
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo {
    position: inherit;
    margin-top: -50px;
    height: 520px;
    width: 520px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    user-select: none;
    .main_img {
      position: absolute;
      height: 300px;
      width: 300px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 5;
      cursor: pointer;
      &:active {
        animation: spin 8s linear 1s infinite;
      }
    }
    .circle {
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
