@import '../../default_variables.scss';

.home_container {
  position: relative;
  min-height: 100vh;
  padding: 50px 40px;
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px solid rgb(108, 161, 197);
    transform: translate(-200px);
    opacity: 0;
    animation: fade-in 1s ease 1 0.5s forwards;
  }
  h2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    margin-top: 50px;
    span {
      font-size: 25px;
      opacity: 0.8;
      padding-bottom: 5px;
      border-bottom: 2px solid $color-pri;
      font-family: 'Open Sans Condensed', sans-serif;
    }
    p {
      font-size: 20px;
      opacity: 1;
      font-weight: 100;
      margin-top: 1px;
      font-family: 'Open Sans', sans-serif;
    }
  }
  .logo {
    position: inherit;
    margin-top: -50px;
    height: 520px;
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    user-select: none;
    .hover_show {
      position: absolute;
      height: 300px;
      width: 300px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 5;
      cursor: pointer;
      &:hover {
        animation: showspin 8s linear 1s infinite;
        .circle {
          opacity: 1;
          &:nth-child(1) {
            background: url('../../png/html.png');
            background-size: cover;
            background-position: center;
            position: absolute;
            transform: translateY(-210%);
          }
          &:nth-child(2) {
            background: url('../../png/css.png');
            background-size: cover;
            background-position: center;
            position: absolute;
            transform: translateX(150%) translateY(-150%);
          }
          &:nth-child(3) {
            background: url('../../png/js.png');
            background-size: cover;
            background-position: center;
            position: absolute;
            transform: translateX(210%);
          }
          &:nth-child(4) {
            background: url('../../png/bootstrap.png');
            background-size: cover;
            background-position: center;
            position: absolute;
            transform: translateX(150%) translateY(150%);
          }
          &:nth-child(5) {
            background: url('../../png/react.png');
            background-size: cover;
            background-position: center;
            position: absolute;
            transform: translateY(210%);
          }
          &:nth-child(6) {
            background: url('../../png/sass.png');
            background-size: cover;
            background-position: center;
            position: absolute;
            transform: translateX(-150%) translateY(150%);
          }
          &:nth-child(7) {
            background: url('../../png/ts.png');
            background-size: cover;
            background-position: center;
            position: absolute;
            transform: translateX(-210%);
          }
          &:nth-child(8) {
            background: url('../../png/red.png');
            background-size: cover;
            background-position: center;
            position: absolute;
            transform: translateX(-150%) translateY(-150%);
          }
        }
      }
    }
  }
}
.scroll_down {
  transform: rotate(90deg);
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  .scroll {
    transform: rotate(-90deg);
    font-size: 20px;
  }
  hr {
    background-color: blue;
    width: 20px;
  }
  h5 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 100;
  }
}
.circle {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgb(4, 4, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
  opacity: 0;
}

@keyframes showspin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade-in {
  to {
    transform: translate(0);
    opacity: 1;
  }
}
